/* Alap stílusok */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#dataContainer {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


h2, h3 {
  text-align: center;
  color: #007bff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

strong {
  font-weight: bold;
}

.telefonszam {
  margin-top: 10px;
}

.telefonszam li {
  margin-bottom: 5px;
}

.ora {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#loadDataBtn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#loadDataBtn:hover {
  background-color: #0056b3;
}
